[submodule "application/i18n"]
	path = application/i18n
	url = git://github.com/ushahidi/Ushahidi-Localizations.git
[submodule "themes/ci-theme"]
	path = themes/ci-theme
	url = git@github.com:Winguweb/ci-theme.git
[submodule "plugins/status-plugin"]
	path = plugins/status-plugin
	url = git@github.com:Winguweb/ci-status-plugin.git
[submodule "plugins/facebooklogin"]
	path = plugins/facebooklogin
	url = git@github.com:Winguweb/facebooklogin.git
[submodule "plugins/request-information"]
	path = plugins/request-information
	url = git@github.com:Winguweb/ci-request-information.git
[submodule "plugins/ci-ask"]
	path = plugins/ci-ask
	url = git@github.com:Winguweb/ci-ask.git

